TOKEN=
CLIENT_ID=
GUILD_ID=
OWNER_ID=
ADMIN_CHANNEL_ID=
ADMIN_ROLE_ID=
PORT=10000
PUBLIC_URL=https://seu-servico.onrender.com
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
PAYER_EMAIL=pagamentos@baguncinha.local
